/* PhotoGallery.module.css */

.gallery {
    padding: 40px 0;
    text-align: center;
}

.gallery h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}

.galleryContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;  /* Allows wrapping if there are more than 3 images */
    justify-items: center;
}

.galleryContainer img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;  /* Fixed width for images */
    /* Optional: To make images responsive, remove the fixed width and add max-width */
    /* max-width: 300px; */
}

.galleryContainer > img {
    flex: 0 0 auto; /* Prevent images from stretching */
}
